body {
    margin: 1rem;
    padding: 0;
}

@font-face {
    font-family: Heading;
    src: url(./fonts/KyivTypeSans-Bold.otf);
  }

  @font-face {
    font-family: heroText;
    src: url(./fonts/KyivTypeSerif-Regular.otf);
  }

  @font-face {
    font-family: firstText;
    src: url(./fonts/KyivTypeSerif-Regular.otf);
  }

  @font-face {
    font-family: pageText;
    src: url(./fonts/KyivTypeSerif-Regular.otf);
  }

  @font-face {
    font-family: BoldFont;
    src: url(./fonts/KyivTypeSerif-Regular.otf);
  }

  @font-face {
    font-family: cookiesFont;
    src: url(./fonts/KyivTypeSerif-Regular.otf);
  }



.continer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
}

h1 {

    font-family: Heading;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.btnMenu {
    z-index: 2;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
}

.btnMenu.rotate{
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
}


nav {
    width: 70vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    right: 0;
    background-color: white;
}

.menu {
    display: none;
}

.menuOrder {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    text-transform: uppercase;
    list-style: none;
}

li {
    padding: 1rem;
    margin-top: 3rem;
}

a {
    color: black;
    text-decoration: none;
}


.hero {
    font-family: heroText;
    font-style: normal;
    font-weight: 350;
    font-size: 33px;
    line-height: 40px;
    color: black;
    outline: solid green;
    margin-right: 9rem;
    max-width: 284px;
    max-height: 204px;
}

.yellowTextDark, .yellowTextOnes {
    background-color: #FFF500;
}


p {
    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.rose {
    display: flex;
}

.espresso {
    margin-left: 9rem;
    outline: solid blue;
    max-width: 292px;
    max-height: 135px;
}

.text3 {
    outline: solid red;
    margin-right: 6rem;
    max-width: 292px;
    max-height: 155px;
}

.rosePic {
    margin-top: 5rem;
}

.text4 {
    outline: solid yellow;
    margin-left: 6rem;
    max-width: 292px;
    max-height: 104px;
}

.buyBtn{
    display: none;
}
.parrot {
    display: none;
}

.bird {
    display: none;
}

footer {
    display: none;
}




@media screen and (min-width:834px) {

    .menu {
        display: none;
    }

    .btnMenu {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    .memories {
        display: flex;
    }

    .hero {
        font-size: 48px;
        line-height: 58px;
        margin-right: 13rem;
        margin-left: 9rem;
        max-width: 285px;
        max-height: 430px;
    }

    .yellowTextOnes {
        background-color: transparent;
    }

    .espresso {
        margin-left: 31rem;
        margin-right: 7rem;
        max-width: 288px;
        max-height: 135px;
    }

    .text3 {
        margin-right: 29rem;
        margin-left: 9rem;
        max-width: 288px;
        max-height: 155px;
    }

    .text4 {
        margin-left: 19rem;
        margin-right: 18rem;
        max-width: 288px;
        max-height: 104px;
    }

    .rosePic {
        display: none;
    }

    .parrot {
        display: block;
    }

}


@media screen and (min-width: 1512px) {

    .memories {
        justify-content: end;
    }

    .hero {
        margin-left: 9rem;
        margin-right: 30rem;
        margin-top: 8rem;
        max-width: 418px;
        max-height: 430px;
    }

    .yellowTextOnes {
        background-color: #FFF500;
    }

    .espresso {
        text-align: center;
        max-width: 353px;
        max-height: 135px;
        margin: 0;
    }

    .text3 {
        max-width: 356px;
        max-height: 155px;
        margin: 0;
    }

    .text4 {
        max-width: 229px;
        max-height: 163px;
        margin: 0;
    }

    .parrot {
        display: none;
        
    }

    .bird {
        display: block;
    }

    .desktopFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .desktopPurple {
        color: #973EFF;
    }

    .buyBtn {
        display: block;
        position: relative;
        left: 19rem;
        margin: 5rem.5rem;
    }

    .buyitem:hover {
        background-color: #973EFF;
    }

    .buyitem {
        font-size: 3rem;
        width: 183px;
        height: 54px;
        background-color: #000000;
        color: #FFF500;
        text-transform: uppercase;
    }

    footer {
        display: block;
        background-color: #000000;
        color: #FFF500;
        width: 100vw;
        height: 7rem;
        
    }

    .footeritem {
        position: relative;
        left: 8rem;
        top: 3rem;
    }

    .email {
        border-radius: 1rem;
        border: none;
    }

    .signUp {
        border-radius: 1rem;
        background-color:  #B30044;
        color: #FFF500;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
    }

    .signUp:hover {
        background-color:   #00B308;
        color: white;
        cursor: pointer;
    }

}